
# List of plugins
# Only the class name is important, 'name' after a 'plugins.classnames.' is a dummy now.
plugins.classnames.test=ru.org.codingteam.horta.plugins.TestPlugin
plugins.classnames.fortune=ru.org.codingteam.horta.plugins.FortunePlugin
plugins.classnames.access=ru.org.codingteam.horta.plugins.AccessPlugin
plugins.classnames.pet=ru.org.codingteam.horta.plugins.pet.PetPlugin
plugins.classnames.markov=ru.org.codingteam.horta.plugins.markov.MarkovPlugin
plugins.classnames.version=ru.org.codingteam.horta.plugins.VersionPlugin
plugins.classnames.bash=ru.org.codingteam.horta.plugins.bash.BashPlugin

login=login
password=password
server=jabber.ru
nickname=horta hell
message=Hell installed!

owner=example@example.org

rooms=room1,room2,room3
room1.room=foo@baz.bar
room1.nickname=Architect of Fate
room1.message=Just as planned!

room2.room=example@example.org
room2.nickname=Changer of Ways

room3.room=fgs@fds.omg

log_directory=/tmp
log_encoding=UTF-8

markov_messages_per_minute=5

storage.url=jdbc:h2:hell;DB_CLOSE_DELAY=-1
storage.user=sa
storage.password=
